<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>List Courses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button [routerLink]="['./add-category']" expand="block">add Category</ion-button>

  <div *ngFor="let cateogry of listCategory;let i = index">
    <ion-row>
      <ion-col size="6">
        <h3  (click)="goToDetail(cateogry)"  >{{cateogry.title}}  
         
        </h3>
        <span style="color: red;" (click)="del(i)"> &times; </span>
        <p  (click)="goToDetail(cateogry)" >
          {{cateogry.des}}
        </p>
      </ion-col>
      <ion-col size="6">
        <img src="http://localhost/learnify/{{cateogry.img}}" alt="">
      </ion-col>
    </ion-row>
    
  </div>


</ion-content>
