<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap" rel="stylesheet">

<ion-header class="ion-no-border">
	<ion-toolbar>
    <div class="back-circle"></div>
		<ion-title class="ion-text-center custom-font">Sign Up</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

  <svg class="back-blob" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
  <path fill="#8295A3" d="M68.6,-33.5C81.6,-17.2,79.6,13.8,65.7,37.6C51.8,61.3,25.9,77.8,2.1,76.6C-21.7,75.4,-43.5,56.5,-54.2,34.6C-65,12.7,-64.8,-12.3,-53.9,-27.4C-43,-42.4,-21.5,-47.6,3.2,-49.4C27.9,-51.2,55.7,-49.7,68.6,-33.5Z" transform="translate(100 100)" />
</svg>

<div class="ion-padding">

  <form class="ion-padding">

    <div class="wrap-input">
    <input class="input" type="text" name="user-name" placeholder="Full Name">
    </div>

    <div class="wrap-input">
    <input class="input" type="text" name="user-email" placeholder="Email">
    </div>

    <div class="wrap-input">
    <input class="input" type="password" name="password" placeholder="Password">
    </div> 

    <div class="container-form-btn">
      <button class="form-btn custom-font">
      Submit
      </button>
    </div>   
    <p class="ion-text-center custom-font">Already have an account? Sign In</p>

  </form>

</div>

</ion-content>
