
<ion-content [fullscreen]="true">
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">home</ion-title>
      
    </ion-toolbar>
  </ion-header>
<div style="text-align: center; margin-top: 20px;">
<img src="assets/images/3.png" class="img1" >
<br>
<br>
<br>
<br>
<br>
<img src="assets/images/2.png" class="img2" >
</div>


<ion-button expand="block" [routerLink]="['/login']" class="sig_in" style="background-color: #5047d4;">Sign in</ion-button>
<ion-button expand="block" [routerLink]="['/otpvalidation']" class="sig_up" style="background-color: #e8e8e8;">Sign up</ion-button>

</ion-content>
