.container{
    width: 100%;
    height: 100%;
}
.header{
    width: 100;
    text-align: center;
    margin: 10px;
}
.form-group{
    width: 100%;
    padding: 5px 20px;
    margin-top: 40px;
    text-align: center;
}
.form-group form{
    width: 95%;
    border-radius:10px;
    margin: auto;
   
}
.form-group form input{
    width: 80%;
    padding: 20px;
    outline: none;
    border: none;
    color: rgb(49, 48, 48);
    font-size: 20px;
    background-color: rgb(212, 212, 212);
    margin: 5px;
    border-radius: 10px;
}
.form-group form input[type=file]{
    display: none;
   
}
label{
    width: 90%;
    padding: 20px;
    background-color: rgb(94, 158, 231);
    color: black;
    font-weight: 700;
    font-size: 19px;
    outline: none;
    border: none;
    border-radius: 10px;

}

