.lo{
    background-color: #e5e5e5;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 15%;
    
}
.forget a{
    outline: none;
    display:flex;
    justify-content: center;
border: none;


}
.singup a{
    outline: none;
    display:flex;
    justify-content: center;
border: none;


}